@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

body {
    background-color: rgb(42, 42, 42);
    font-family: 'Segoe UI';
}

.container {
    position: relative;
    margin: auto;
    height: 150px;
    background-color:rgb(38, 168, 250);
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
}

.barre {
    position: absolute;
    right: 40px;
    bottom: 35px;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: rgb(42, 42, 42);
    border-radius: 20px;
}

.logo {
    position: absolute;
    display: flex; align-items: center;
    bottom: 15px; left: 15px;
}

ul {
    position: relative;
    top: 15px; right: 175px;
    width: 100%;
    display: flex;
    padding-left: 200px;
    height: 100%; margin: 0;
    list-style: none;
}

.active {
    color:rgb(38, 168, 250);
    left: 350px;
    text-decoration: none;
    display: flex;
    position: absolute;
}

.active:hover {
    color:rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.titre_principal{
    font-family: 'Berlin Sans FB Demi', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: normal;
    position: relative;
    top:-15px;
}
.slogan{
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    position: relative;
    top:15px; left: -205px;

}

.barre_de_titre {
    position: relative;
    margin: auto;
    margin-left: 20px; margin-right: 20px;
    height: 50px;
    background-color:rgb(38, 168, 250);
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    top: 10px;
}

.h1 {
    font-family: 'Berlin Sans FB Demi', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    text-align: center;
    margin-top: 10px;
}







.container1 {
    position:relative;
}
.square {
  width: 50px;
  height: 50px;
  background-color: rgb(42, 42, 42);
  position: absolute;
  margin: 10px;
  border-radius: 5px;
}
.square:first-child {
    margin-left: 20px;
    top: 20px;
    left: 2px;
    width: 360px;
    height: 550px;
    border: 5px solid rgb(38, 168, 250);
}
.square img {
  width: 290px;
  max-height: 400px;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.square2 {
    top: 20px;
    left: 0px;
    width: 355px;
    height: 420px;
    border: 5px solid rgb(38, 168, 250);
    background-color: rgb(38, 168, 250);
}
.square3 img {
    width: 300px;
    position: absolute;
    top: 507px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.notation {
    font-family: 'Agency FB', sans-serif;
    color: rgb(38, 168, 250);
    font-size: 35px;
    font-weight: normal;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

/*La suite du code est réservée à la barre de recherche*/


.searchbar{
    position:relative;
    text-align: center;
    width: 45%;
    top: 40px;
    margin-left: 25%;
    cursor: pointer;
}

.search-detail input{
    height: 55px;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}


/*La suite du code est réservée aux informations liées à l'API*/

.square5 {
    position:relative;
}
.square5 {
    left: 422px;
    top: 30px;
    width: 67.3%;
    border: 5px solid rgb(38, 168, 250);
    
    height: 550px;
    
    border-radius: 5px;
}
h3 {
    margin-left: 20px;
    font-family: 'Segoe UI', sans-serif;
    color:grey
}
h2 {
    margin-left: 20px;
  font-family: 'Berlin Sans FB Demi', sans-serif;
  color:rgb(38, 168, 250)
}

#Genres {
    position:  relative;
    display:flex;
  }
#Theme{
    position:relative;
    display:flex;
}

.right { 
    display:inline;
    position:relative;
    left: 700px;
    top:-325px
}
.up {
    position: relative;
    top: -225px;
}

.new-font {
    font-family: "Arial", sans-serif;
    color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
}

.Kurama {
    font-family: "Arial", sans-serif;
    color: lightgrey;
    margin-left: 20px;
    font-size: smaller;
}